
@import url(//fonts.googleapis.com/css?family=Poiret+One);

body {
  background: paleturquoise
  font-family: 'Poiret One', cursive;

}

h1 {
    font-family: 'Poiret One', cursive;
}

a {
  color: black;
}

#profile-pic{
  max-width: 90px;
}

#profile-pic{
  margin: 10px;
}

.section {
  margin: 10px;
}
