

body {
  background-color: #f5eeee;;
  font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    font-size: 50px;
}


a {
  color: black;
  display: inline;
  text-decoration: none;
}

a.underline {
  color: black;
  display: inline;
}

a:hover { 
    color: paleturquoise;
}

p {
    font-family: 'Dosis', sans-serif;
    text-align:center;

}

ul {
    /*background-image: url("pink.png");*/
    background-repeat: repeat-x;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;


}

.nav {
    border:1px solid #ccc;
    border-width:1px 1px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    margin-bottom: 20px;


}   

.nav li {
    display: inline;
    padding-left: .6em;
    padding-right: .6em;
    float: left;
    border-right: 1px solid #bbb;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
}


img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    height: 330px;
}


#roundedcorners {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}

.textbox {
  background:pink;
  margin:auto;
  border:1px solid #ccc;
  border-width:1px 1px;
  position: relative;
  width:50%;
  padding-right: 10px;
  padding-left: 10px;
}



* {box-sizing:border-box}
body {font-family: 'Dosis',sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  padding-top: 25px;
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 15px;
  padding: 2px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
font-family: 'Dosis', sans-serif;
  text-align:center;
  color: #000000;
  font-size: 10px;
  padding: 8px 12px;
    margin:auto;

/*  padding: 360px 500px;*/
  position: relative;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 4px;
  width: 4px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




