body {
  font-family: Helvetica Neue;
  background-color: #FFB6C1;
  color: white;
}

a {
  color: white;
}

#profile-pic{
  max-width: 90px;
}

#profile-pic{
  margin: 10px;
}

.section {
  margin: 10px;
}
