
@import url(//fonts.googleapis.com/css?family=Poiret+One);
@font-face {
    font-family: myfont;
    src: url(https://kimberlyn.github.io/portfolio/font.ttf);
}

body {
  background: paleturquoise;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
}

h1 {
    font-family: myfont;
}

a {
  color: black;
  display: inline
}

#profile-pic{
  max-width: 90px;
}

#profile-pic{
  margin: 10px;
}

.section {
  margin: 10px;
}
